@import 'price-card.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

body {
  background-color: #141b1c;
}

.price-content {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
